.footer__paragraph {
  color: #545454;
  max-width: 880px;
  height: 18px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 800px) {
  .footer__paragraph {
    margin: 0;
    margin-left: 110px;
  }
}
@media screen and (max-width: 320px) {
  .footer__paragraph {
    margin: 0;
    margin-left: 19px;
  }
}
