.gallery {
  margin-top: 30px;
}
.gallery__cards {
  display: grid;
  list-style-type: none;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin-top: 29px;
  padding: 0;
  max-width: 880px;
  margin-bottom: 61px;
}
@media screen and (max-width: 320px) {
  .gallery__cards {
    margin-top: 26px;
  }
}
