.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999px;
  display: flex;
  padding: 0 19px;
}
.modal__opened {
  display: flex;
}
.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}
.modal__heading {
  color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 54px;
}
.modal__close {
  background-image: url(../images/close_icon.svg);
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: -45px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
}
.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.modal__fieldset {
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 5px;
}
.modal__button {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  min-height: 60px;
  color: #ffffff;
  background-color: #000;
  margin-top: 48px;
}
.modal__button:hover {
  background: rgba(0, 0, 0, 1);
  opacity: 80%;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .modal__container {
    margin-left: auto;
    margin-right: auto;
    width: 282px;
    height: 322px;
    margin-top: 111px;
  }
  .modal__heading {
    font-size: 18px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    right: 0px;
  }
}
.modal__fieldset {
  font-size: 14px;
  line-height: 17px;
}
.modal__button {
  font-size: 14px;
  line-height: 17px;
  min-height: 50px;
}
