.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
.page__section {
  width: 100%;
  max-width: 882px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}
.page__content {
  margin-left: 200px;
  margin-right: 200px;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
  .page {
    width: 320px;
  }
  .page__content {
    width: 320px;
  }
}
@media screen and (max-width: 1280px) and (min-width: 320px) {
  .header {
    top: 28px;
    max-width: 320px;
    height: 56px;
    margin: 0;
  }
  .profile {
    flex-direction: column;
    width: 282px;
    height: 286px;
  }
  .profile__info {
    width: 100%;
    max-width: 282px;
    height: 50px;
  }
  .profile__image {
    margin-right: auto;
    height: 120px;
    width: 120px;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__add-button {
    margin: 0;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .cards {
    max-width: 282px;
  }
}
